<!DOCTYPE html>
<html lang="eng">
    <!--Genesis Ragland-->
    <head>
    <title>custome title</title>
    <link rel="stylesheet" href="styles.css">
    </head>
    <h1>Main Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolore assumenda aut, soluta ullam ad 
        quibusdam, omnis quod cupiditate, cumque adipisci? Reprehenderit magni voluptatem officia atque. Commodi 
        dolor cumque ad!</p>
    <body>
        <script src="script.js"></script>
    </body>
</html>