header {
    background-color: black;
    color: white;
    display: flex;
   
}

.header-links nav a {
    text-decoration: none;
    color: white;
}
@media only screen and (min-width: 900px) {

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 400px;
    height: 150px;
}

#header-left  {
    display: flex;
    align-items: center;
    
}

#header-left img {
    height: 60px;
    padding-right: 10px;
}

#header-left h1 {
    margin: 0;
    
}

.header-links nav {
    display: flex;
    
}


#header-left  {
    display: flex;
    align-items: center;
    padding-right: 10px;
    
}

#header-left img {
    height: 60px;
    padding-right: 10px;
}

#header-left h4, h1 {
    margin: 0;
}

.header-links {
    display: flex;
    padding-top: 10px;
    
}

.header-links nav {
    display: flex;
    
}
.header-links nav ul{
    list-style-type: none;
    display: flex;
    padding-left: 50px;
    margin-top: 0;
    
}

.header-links h5 {
    margin-top: 0;
    padding-top: 10px;
}

.header-links nav ul li {
    margin-right: 10px;
    padding-top: 0;
    
}

.header-links nav ul li a {
    text-decoration: none;
    color: white;
    
}

.search-bar form {
    display: flex;
}



}