body {
    font-family: 'Courier New', Courier, monospace;
    background: wheat;
    color: #000080;
    font-weight: bold;
    align-items: center;
}

 h1, h2 {
    text-align: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #006400;
    font-weight: bold;
}

#main-content {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: #f5f5f5;
}

.assignment{
    border: 1px solid #ccc;  
   background-color: wheat;
   text-align: center;
   width: 300px;
   margin: 20px;
   padding: 20px;
}

.assignment img {
    padding: 5px;
}

footer {
    text-align: center;
}
.assignment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-list .assignment {
    flex: 1;
    margin: 20px;
}

@media only screen and (min-width: 900px) {
.assignment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.assignment li {
    flex: 33%;
}

#main-content ul {
    display: flex;
    margin: 0;
    padding-left: 0;
    flex-wrap: wrap;
}

#main-content li {
    margin: 0;
    padding: 0;
}

.assignment img {
    margin: 0;
    padding: 10px;
    
}

}