body {
    font-family: 'Courier New', Courier, monospace;
    background: wheat;
    color: #000080;
    font-weight: bold;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #006400;
    font-weight: bold;
}

#main-content {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: #f5f5f5;
}